<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
    <!-- Inclua o Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Usuários</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Nome de Usuário</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telefone }}</td>
                        <td>{{ user.endereco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Adicione qualquer outro conteúdo ou funcionalidade necessária -->
    </div>
    <!-- Inclua o Bootstrap JavaScript (opcional, dependendo do uso) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
